@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 10px;
    scrollbar-width: 1px;
    width: 1px;
    width: 5px;
    height: 8px;
    cursor: pointer;
}

#editor ::-webkit-scrollbar-thumb {
    background-color: #27272a;
    border-radius: 10px;
    scrollbar-width: 1px;
    width: 1px;
    width: 5px;
    height: 8px;
    cursor: pointer;
}

#editor ::-webkit-scrollbar-track {
    background-color: #2c313a;
    scrollbar-width: 1px;
    width: 1px;
    width: 5px;
    height: 8px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
}